/* 颜色 */

.br {
    border: 1px solid #ccc;
}




/* 手机排行榜 */

.buy_main {
    width: 100%;
    .main_tit {
        margin: 10px 5px;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        .br;
        color: #874604;
    }
    li {
        height: 40px;
        padding: 0 8px;
        a {
            display: block;
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid #ccc;
            padding-left: 2px;
            font-size: 16px;
           	font-weight: bold;
           	background: url(http://www.zuyushop.com/wap/images/arrow1.gif) no-repeat right center;

        }
    }
    li:last-child{
    	border: none;
    }
}
