header {
    .back {
        width: 50px;
        position: absolute;
        a {
            display: block;
            width: 100%;
            height: 44px;
            background-image: url('../images/back.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 25px;
            width: 50px;
            margin-top: 3px;
        }
    }
    h1 {
        text-align: center;
        color: white;
        font-size: 20px;
        // font-weight: normal;
        height: 50px;
        line-height: 50px;
    }
}
//详情页
    .item{
        padding: 4px 10px;
        background: #fff;
        h1{
           font-size: 18px;
            color: #5a5a5a;
            font-weight: 800;
            margin: 10px 0;
        }
        p{
            color:#ff6c00;
            font-size: 15px;
        }
        .mall{
            margin: 12px 0;
            color:#999;
            font-size: 12px;
        }
        .con{
            color:#606060;
            font-size: 15px;
            overflow: hidden;
            padding: 0 0 0 10px;
        }
        .img{
            float: right;
            overflow: hidden;
            margin: 5px;
            img{
                width: 120px;
                height: 120px;
            }
        }
        .buy{
            margin: 20px 10px  ;
            display: block;
            background: #FF9000;
            color: #fff;
            border-radius: 4px;
            text-align: center;
            font-size: 16px;
            height: 30px;
            line-height: 30px;
        }
        .qrcode {
        margin: 20px 10px;
            img{
                width: 100%;
            }
        }
        .comment{
            padding: 8px;
            form{
                border: 2px solid #ECEAE8;
                input[type='textarea']{
                    width: 100%;
                    height: 68px;
                    line-height: 22px;
                    border: 0;
            }
            .ctrl{
                background: #000;
                height: 40px;
                background: #fbfbfb;
                input[type='submit']{
                width: 100px;
                height: 40px;
                float: right;
                background: #ff841d;
                color: white;
                border:0;
            }
            }
          }
          .newComment{
            padding: 6px 8px;
          }

        }
    }